.search {
  width: 100vw;
  height: max-content;
  padding: 20px 350px;
  background-color: #f7f1eb;

  &__line {
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    font-size: 20px;
    color: #281507;

    &__circle {
      width: 6px;
      height: 6px;
      background-color: #281507;
      border-radius: 50%;
      border: none;
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    min-height: 100vw;
  }

  h4 {
    width: 400px;
    font-size: 42px;
    position: absolute;
    top: 0;
    left: calc(100vw / 2 - 450px);
  }
}
