@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bellota Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #514235;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  display: none;
}
button,
input,
a {
  font-family: "Bellota Text", sans-serif;
  cursor: pointer;
}
a {
  color: #281507;
  text-decoration: none;
}
.pos {
  position: absolute;
}
.info {
  animation: disNone 3s linear;
}
@keyframes disNone {
  0% {
    opacity: 1;
    color: red;
    border: 1px solid white;
  }
  100% {
    opacity: 0;
  }
}
.displayNone {
  display: none;
}

.carousel .control-dots .dot {
  border-radius: 0% !important;
  width: 20px !important;
  height: 2px !important;
}

.carousel .control-dots .dot:active {
  border-radius: 0% !important;
  width: 20px !important;
  height: 5px !important;
}

/* @media only screen and (max-width: 600px) {
  .slide {
    min-width: 50% !important;
  }
}

/* For all other screen sizes, display 3 items */
/* .slide {
  min-width: 50% !important;
} */
.carousel .control-prev.control-arrow {
  left: 200px !important;
}
.carousel .control-next.control-arrow {
  right: 150px !important;
  /* animation: animArrow 3s linear !important; */
}

.carousel .control-prev.control-arrow:before {
  content: "‹" !important;
  font-size: 105px;
  color: #fff !important;
  border: none !important;
}
.carousel .control-next.control-arrow:before {
  content: "›" !important;
  font-size: 105px;

  color: #fff !important;

  border: none !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}
